<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/home.css" rel="stylesheet" type="text/css" />

    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <div class="miniwrapper">
        <h2>Inter your link to make it Short</h2>
        <form class="inputcontainer" action="/" method="post">
          <input type="text" placeholder="Inter your link" id="inval" />
          <button type="submit">Cut</button>
        </form>
      </div>
    </div>
    <script>
      var val = document.getElementById("inval");
      var form = document.getElementsByClassName("inputcontainer");
      var but = document.getElementById("lll");

      val.addEventListener("input", (event) => {
        form[0].action = "url/" + event.target.value;
      });
    </script>
  </body>
</html>
